body
{
  background-color : rgba( 0, 0, 0, .1 );
}

.nav-main
{
  display : block;
  height : 400px;
  background-image : url( '../images/code.jpg' );
  background-color : rgba( 100, 20, 10, .9 );
  background-repeat : no-repeat;
  background-position : center;
  background-size : cover;
  background-attachment : fixed;
}

#main
{
   box-shadow : 5px 5px 23px rgba( 0, 0, 0, .2 );
   background-color : rgba( 255, 255, 255, .7 );
}

#navigation
{
  position: absolute;
  top : 0;
  left : 0;
}

#navigation a
{
  text-decoration : none;
  color : rgba( 255, 255, 255, 1 );
  transition : all .7s ease;
  display: block;
  background-color : rgba( 250, 250, 250, .5 );
  margin : 20px 0;
  text-align: left;
  border-radius : 1px;
  padding : 10px;
}

#navigation a:hover
{
   background-color : rgba(0, 90, 200, .8 );
}

#navigation a:before
{
  content : '';
  background-color : rgba(0, 200, 90, .8 );
  position: relative;
  height : 5px;
  border-radius : 1px;
  transition : all .7s ease;
  left : -10px;
}

#navigation a:first-child:before
{
  
}

#navigation a:hover:before
{
  padding : 12px 100px;
}

#navigation a:hover:first-child:before
{
  content : 'Conoce como se hace la WEB';
}

#navigation a:hover:nth-child(2):before
{
  content : 'Quien Soy, Que hago?';
}

#navigation a:hover:nth-child(3):before
{
  content : 'Te podria ayudar en algo?';
}

#navigation a:hover:nth-child(4):before
{
  content : 'Sigueme en';
}

.footer a
{
  display: inline-block;
  transition : all .5s ease;
  margin : 5px 0;
}

.footer a:hover
{
  transform : scale(2);
  margin : 0 40px;
}