---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    <!-- Escrito en {{ page.date | date: "%B %e, %Y" }} -->
    <!-- Whitespace added for readability -->
	<a href="" class="site-avatar">
    	<img src="https://avatars3.githubusercontent.com/u/9272201?v=3&s=460" alt="Andres">
	</a><br/>
	Publicado el {% assign m = page.date | date: "%-m" %}
	{{ page.date | date: "%-d" }}
	{% case m %}
	  {% when '1' %}Enero
	  {% when '2' %}Febrero
	  {% when '3' %}Marzo
	  {% when '4' %}Abril
	  {% when '5' %}Mayo
	  {% when '6' %}Junio
	  {% when '7' %}Julio
	  {% when '8' %}Agosto
	  {% when '9' %}Septiembre
	  {% when '10' %}Octubre
	  {% when '11' %}Noviembre
	  {% when '12' %}Diciembre
	{% endcase %}
	{{ page.date | date: "%Y" }}
  </div>

  {% include disqus.html %}
</article>